body {
    background-color: rgb(19, 19, 19);
    font-family: Helvetica;
    margin: 0;
}

header {
    width: 100%;
    margin-top: 10px;
}

nav {
    position: sticky;
    padding-bottom: 0px;
    width: 100%;
    height: 110px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-end;
}

nav a {
    font-size: 13px;
    text-decoration: none;
    color: white;
    margin: 20px;
}

#dayseeker {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 9px;
}

header img {
    width: 100%;
    height: 700px;
}

main h2 {
    color: white;
    text-align: center;
    font-size: 32px;
    margin-top: 80px;
    margin-bottom: 60px;
}

#grid-container {
    display: grid;
    justify-content: center;
    grid-template-rows: 500px 500px 500px 500px 500px;
    grid-template-columns: 380px 380px 380px 380px;
    margin-right: auto;
}

.grid-item p {
    color: #ffffff;
    text-align: center;
    font-size: 
}

.grid-item .pricetag {
    color: #c4c4c4;
}

#button {
    width: 100px;
    color: #ffffff;
    background-color: rgb(17, 17, 17);
    text-align: center;
}

footer {
    background-color: rgb(25, 25, 25);
    font-size: 80px;
    height: 500px;
    text-align: center;
}

footer div {
    padding-top: 150px;
}